
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link rel="stylesheet" href="~/Content/Navigationbar.css">
</head>
<body>
    <div class="navigation">
        <a href="/CV/Name" id="name">Home</a>
        <a href="/CV/About" id="about">About Me</a>
        <a href="/CV/Contact" id="contact">Contact</a>
        <a href="/CV/Skl" id="skil">Skills</a>
    </div><hr />
          <div class="eduBody">
              <span>Hello Welcome to Samir Faisal's About me Section</span>
              <h3 style="color: red">Education Qualification</h3>
              <table border="1px">
                  <tr>
                      <td>Education Level</td>
                      <td>Group / Subject</td>
                      <td>Institute Name</td>
                      <td>Passing Year</td>
                      <td>Board</td>
                      <td>Results</td>
                  </tr>
                  <tr>
                      <td>BSc</td>
                      <td>CSE</td>
                      <td>AIUB</td>
                      <td>2023</td>
                      <td>Dhaka</td>
                      <td>Cgpa 3.68</td>
                  </tr>
                  <tr>
                      <td>HSC</td>
                      <td>Science</td>
                      <td>Govt. Azizul Haque College, Bogura</td>
                      <td>2018</td>
                      <td>Rajshahi</td>
                      <td>Gpa 4.83</td>
                  </tr>
                  <tr>
                      <td>SSC</td>
                      <td>Science</td>
                      <td>Bogura Zilla School, bogura</td>
                      <td>2016</td>
                      <td>Rajshahi</td>
                      <td>Cgpa 5.00</td>
                  </tr>
              </table>
              <h3 style="color: red">Address</h3>
              <ol>
                  <li>Present Address: Kalachadpur main Road, Baridhara, Dhaka.</li>
                  <li>Permanent Address: Malotinagor Bogura Sadar, Bogura, Rajshahi</li>
              </ol>
          </div>
</body>
</html>
