
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
    <link rel="stylesheet" href="~/Content/Navigationbar.css">
</head>
<body>
    <div class="navigation">
        <a href="/CV/Name" id="name">Home</a>
        <a href="/CV/About" id="about">About Me</a>
        <a href="/CV/Contact" id="contact">Contact</a>
        <a href="/CV/Skl" id="skil">Skills</a>
        
    </div><hr />
    <div class="contactBody">
        <span style="color: red" >Basic Contact Information</span>
        <ul>
            <li>Email Address: samirfaisal16@gmail.com</li>
            <li>Phone no : 01619252319</li>
            <li>Other Phone Number: 01307652048</li>
        </ul>
        <span style="color: red">Social Media Contact Information</span><br />
        <table>
            <tr>
                <td><a href="https://www.facebook.com/PRIMESAMIR" target="_blank" style="text-decoration: none">Facebook |</a></td>
                <td><a href="https://www.instagram.com/samir.fais" target="_blank" style="text-decoration: none">Instagram |</a></td>
                <td><a href="https://www.twitter.com/SamirFaisal14" target="_blank" style="text-decoration: none">Twitter |</a></td>
                <td><a href="https://www.linkedin.com/mwlite/in/samir-faisal-a27500190" target="_blank" style="text-decoration: none">Linkedin |</a></td>
                <td><a href="https://github.com/SamirFaisal20" target="_blank" style="text-decoration: none">Github</a></td>
            </tr>
        </table>
            
        
    </div>
</body>
</html>
