
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Name</title>
    <link rel="stylesheet" href="~/Content/Navigationbar.css">
</head>
<body>
    <div class="navigation">
        <a href="/CV/Name" id="name">Home</a>
        <a href="/CV/About"  id="about">About Me</a>
        <a href="/CV/Contact"  id="contact">Contact</a>
        <a href="/CV/Skl" id="skil">Skills</a>
    </div><hr />
    <div class="body"> 
        <h3>Hi i am Samir Faisal</h3>
        <span>Full Stack Web developer</span>
        <h3>Education Institute: AIUB </h3>
        <h3>Address: Kalachadpur Main Road, Baridhara, Dhaka</h3>
    </div>
</body>
</html>
