
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skl</title>
    <link rel="stylesheet" href="~/Content/Navigationbar.css">
    <link rel="stylesheet2" href="~/Content/Skills.css">
</head>
<body>
    <div class="navigation">
        <a href="/CV/Name" id="name">Home</a>
        <a href="/CV/About" id="about">About Me</a>
        <a href="/CV/Contact" id="contact">Contact</a>
        <a href="/CV/Skl" id="skil">Skills</a>
    </div><hr />
    <h3>Professional Skills:</h3>
    <div class="skill">
        <p id="web">Web Development:</p>
        <p>Front End Developement:</p>
        <p>Back End Developement:</p>
        <p>Android Apps Developement:</p>
    </div>
</body>
</html>
